//variables

/* $colors: (
    primary: #1976D2,
    secondary: #424242,
    accent: #82B1FF,
    error: #FF5252,
    info: #2196F3,
    success: #4CAF50,
    warning: #FFC107,
    lightgrey: #cacaca,
    white: #ffffff
) */

@mixin infobox_mixin($border-radius, $border-color, $padding, $margin-bottom, $color) {
    border: $border-radius solid $border-color;
    padding:$padding;
    margin-bottom:$margin-bottom;
    color:$color;
}

//Color variables
/* $colorz:(
    primary: rgb(82, 2, 2),
    secondary: #424242,
    accent: #82B1FF,
    danger: #ff5252,
    info: #2196F3,
    success: #4CAF50,
    warning: #FFC107,
    lightgrey: #cacaca,
    white: #ffffff,
    dark: #333

); */
